.searchoptions {
  margin-bottom: 5% !important;
}
.searchforminput {
  width: 50% !important;
  padding: 10px 15px !important;
  border: none !important;
  outline: none !important;
}

.searchbutton {
  background: #3eb54e !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  font-size: 12px !important;
  font: 100px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
  font-family: "Montserrat" !important;
  padding: 0.8em !important;
}

.tables {
  color: black !important;
  border-collapse: collapse !important;
  background-color: white !important;
}

tds,
ths {
  border: 1px solid black !important;
  padding: 1.5em !important;
}

.addbutton {
  background: #3eb54e !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  font-size: 12px !important;
  font: 100px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
  margin-left: 20px !important;
  font-family: "Montserrat" !important;
  padding: 0.8em !important;
}

.deletebutton {
  background: white !important;
  border: none !important;
  color: #3eb54e !important;
  text-align: center !important;
  font-size: 12px !important;
  font: 100px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
  font-family: "Montserrat" !important;
  padding: 0.8em !important;
}

.results {
  margin-top: 25px;
}
